*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin-top: 30px;
    width: 50%;
    height: 70vh;
    background-color: rgb(240, 176, 98);
    text-align: center;
    }

.btn-info{
    margin-right:1rem ;

}

h1{
    margin: 2rem;
    padding-top: 20px;
}

h4{
    margin:2rem
}
    
    

    